.header {
  border: 1px solid black;
  padding: 1rem 1.5rem;
  background-color: lightseagreen;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  min-height: 4rem;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandLink {
  font-family:'Times New Roman', Times, serif;
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px yellow;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.togglerBtn {
  color: white;
  background-color: lightseagreen;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.4rem;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.togglerBtn:active {
  transform: translateY(2px);
}

.list {
  padding-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-weight: bold;
  color: white;
}

.list a:hover {
  color: lightseagreen;
  background-color: lightblue;
}

.badge {
  background-color: #1ad1b9;
  border-radius: 1rem;
  border: 1px solid white;
  padding: 0.1rem 0.5rem;
  color: yellow;
}


/*
.list li:first-child {
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px yellow;
  padding: 0;
}


.list li:last-child {
  margin-left: auto;
}

*/



